# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c0ffd1b5232b0e90c6f2baaa5ffcefaa90cfb75da68701960b62ac8ec83290e19898b870e38cce9111b9a7a495dc6a65117b51446e0fff5ace3d94fe22436396

test:
  secret_key_base: 24b4b83b0ab08a2e38e8195168f977eaded9e7a937dc673ccddbc70438adff2b3e90e558ecef35dbbad487694ab3f71836c0c5186104a68e30965112f629e7c8

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base:
