default: &default
  mode:    proxy        # allowed: master|proxy
  site_code: MLS         # ID of the site this service is runnig on.

production:
  <<: *default
  mode: proxy
  site_code: MLS

development:
  <<: *default
  mode: proxy
  site_code: MLS

integration:
  mode: master
  site_code: MLS
  
