<!DOCTYPE html>

<html>
<head>
  <title>DDE2 Migration Validator</title>
  <%= csrf_meta_tag %>
   <style type="text/css">
body{
     width: 3000px; 
     margin-left: 10px; 
     margin-right: 10px; 
     border: 1px solid black;
     font-family: verdana, Sans-serif;
    }
</style>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
